commands:
  "01":
    command: curl https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar -o /usr/local/bin/wp
  "02":
    command: chmod +x /usr/local/bin/wp
container_commands:
  "01_core":
    command: wp core download --locale=ja --path=/var/www/html --allow-root || true
  "02_plugin_install":
    command: |
      wp plugin install disable-comments --path=/var/www/html --allow-root
      wp plugin activate disable-comments --path=/var/www/html --allow-root
      wp plugin install advanced-custom-fields --path=/var/www/html --allow-root
      wp plugin activate advanced-custom-fields --path=/var/www/html --allow-root
      wp plugin install amazon-s3-and-cloudfront --path=/var/www/html --allow-root
      wp plugin activate amazon-s3-and-cloudfront --path=/var/www/html --allow-root
      wp plugin install wordpress-seo --path=/var/www/html --allow-root
      wp plugin activate wordpress-seo --path=/var/www/html --allow-root
  "03_activate_theme":
    command: |
      wp theme activate app --path=/var/www/html --allow-root
